* {box-sizing: border-box;}

body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

.nav-header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.header-section {
  display: block;
  background-color: #1d1d1d;
  width: 25%;
  float: left;
  padding: 17px 0px;
  text-align: center;
  border-bottom: 2px solid transparent;
}

.header-section:hover {
  border-bottom: 2px solid #ff8d00;
  cursor: pointer;
}

.active {
  border-bottom: 2px solid #ff8d00;
}

#logo {
  position: absolute;
  width: 35px;
  height: 32px;
  top: 9px;
  left: 7px;
}

#logo-img {
  width: 100%;
  opacity: 0.9;
}

.header-text {
  text-decoration: none;
  color: white;
  text-transform: lowercase;
  font-family: inherit;
  font-size: 15px;
}

.cover-bg {
  width: 100%;
  height: 80vh;
  display: block;
  float: left;
}

#bg-img {
  background: url("./img/shoyu-ramen.jpg");
  height: 80vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img-tint {
  width: 100%;
  height: 100%;
  background-color: #232323;
  opacity: 0.4;
}

.location-div {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.location-cont-div {
  top: 44%;
}

.location {
  color: #fbffef;
  padding: 5px;
  text-shadow: 1px 7px 7px #000000;
  letter-spacing: 0.5px;
}

.cont {
  top: 35%;
}

.cover-text-div {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 27px;
  letter-spacing: 5px;
}

.cover-text {
  border: 2px solid white;
  padding: 8px 50px;
  margin: 20px;
  background-color: #17171782;
  text-shadow: 1px 7px 7px #000000;
}

.cover-text:hover {
  background-color: #000000a6;
  border: 2px solid #ff8d00;
}

.dine-in {
  border: 2px solid #ff8d00;
}

.bottom-container {
  height: 93px;
  width: 100%;
  background-color: #1d1c1c;
  display: block;
  float: left;
}

.border {
  height: 2px;
  width: 100%;
  background-color: #ff8d00;
  display: block;
  float: left;
}

.about-body {
  width: 100%;
  height: 50%;
}

#about-pic {
  width: 40%;
  display: block;
  float: left;
}

#about-pic img {
  width: 100%;
  padding: 5px;
}

.about-text {
  display: block;
  float: left;
  width: 60%;
}

.about-text p {
  padding: 23px;
  font-size: 14px;
}

.col-odd {
  color: #ff9f2ae0;
}

.col-even {
  color: #ffffffdb;
}

.row {
  height: 20%;
  width: 100%;
  margin: 4px;
  padding-right: 20px;
}

.phone {
  display: inline-block;
  float: right;
  font-size: 17px;
  margin: 20px;
  color: #ffffffeb;
  margin-right: 35px;
}

.topnav {
  background-color: #1d1d1d;
  overflow: hidden;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #f5f5f5;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #ff8d00;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #201b17;
  color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #201b17;
  color: white;
  display: block;
  float: left;
  width: 100%;
}
.modal-footer h3 {
  display: inline-block;
}

.modal-footer p {
  display: inline-block;
  margin: 5px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #000;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #353535;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #545454;
}

.form-container {
  background-color: #f2f2f2;
  padding: 20px;
  width: 65%;
  display: block;
  float: left;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.map {
  display: block;
  float: left;
  width: 35%;
}

#dine-in-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

.dine-in-content {
  position: fixed;
  bottom: 15px;
  background-color: #111111;
  width: 340px;
  padding: 5px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.dine-in-content h3 {
  display: block;
  color: #fff;
  padding: 4px 10px;
}

.dine-in-form {
  width: 100%;
}

.dine-in-form .row {
  display: block;
  margin-left: 10px;
}

.dine-in-content label {
  padding: 13px 0;
  color: #fff;
}

.dine-in-content input {
  padding: 11px;
  border: 1px solid #464646;;
  border-radius: 4px;
  margin: 10px 10px;
}

.dine-in-content input[type=text] {
  width: 225px;
  resize: vertical;
  margin-left: 18px;
}

.dine-in-content input[type=number] {
  width: 85px;
}

.dine-in-content input[type=datetime-local] {
  width: 225px;
  margin: 10px 0 10px 18px;
}

.submit-div {
  display: inline-block;
  float: right;
}

.dine-in-form input[type=submit] {
  margin: 7px 20px;
  padding: 12px;
}

@media screen and (max-width: 1142px) {
  #logo {
    display: none;
  }
  .bottom-container {
    height: 14vh;
  }
}

@media screen and (max-width: 795px) {
  .cover-bg {
    width: 100%;
  }
  .header-section {
    padding: 17px 0 10px;
    height: 8vh;
  }
  .header-text {
    font-size: 15px;
  }
  .cover-text-div {
    letter-spacing: 1px;
  }
  .cover-text {
    padding: 15px 40px;
    margin: 15px;
  }
  .bottom-container {
    height: 13vh;
  }
  .logo {
    width: 80px;
    left: 78%;
    top: 75%;
  }
  #about-pic {
    width: 50%;
  }
  .about-text {
    width: 50%;
  }
  .about-text p {
    padding: 12px;
    font-size: 13px;
  }
  .row {
    font-size: 12px;
  }
  .row-day {
    font-size: 14px;
    height: 21%;
  }
  .phone {
    font-size: 14px;
    margin: 15px;
  }
  .form-container {
    width: 100%;
    padding: 10px 50px 20px;
  }
  .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 3px;
  }
  .map {
    display: none;
  }
}

@media screen and (max-width: 520px) {
  #about-pic {
    width: 100%;
  }
  .about-text {
    width: 100%;
  }
  .about-text p {
    padding: 3px 16px;
    font-size: 13px;
  }
}
